<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Add Vehicle</title>
</head>
<body>
<h1>Add Vehicle</h1>
<form th:action="@{/vehicles}" th:object="${addedVehicle}" method="post">
    <table>
        <tr>
            <td>Manufacturer</td>
            <td>
                <input type="text" th:field="*{manufacturer}"/>
            </td>
        </tr>
        <tr>
            <td>Model</td>
            <td>
                <input type="text" th:field="*{model}"/>
            </td>
        </tr>
        <tr>
            <td>Production Year</td>
            <td>
                <input type="text" th:field="*{productionYear}"/>
            </td>
        </tr>
        <tr>
            <td>Mileage</td>
            <td>
                <input type="text" th:field="*{mileage}"/>
            </td>
        </tr>
        <tr>
            <td>Fuel</td>
            <td>
                <input type="text" th:field="*{fuel}"/>
            </td>
        </tr>
        <tr>
            <td>Price</td>
            <td>
                <input type="text" th:field="*{price}"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Add Vehicle" />
            </td>
        </tr>
    </table>
</form>

</body>
</html>